{% extends 'layouts/default.html' %}
{% block sidebar %}
  <aside class="sidebar" data-content-href="{{ site.baseurl }}/sidebar.html"></aside>
{% endblock %}
{% block content %}
<article class="post">
    <time title="{{ page.date | date('c') }}" pubdate="{{ page.date | date('c') }}">
      <a href="{{ site.baseurl }}/archives.html"><i class="fa fa-home"></i></a>
      &raquo;
      <a href="{{ site.baseurl }}/{{ page.date | date('Y') }}">{{ page.date | date('Y') }}</a>
      &raquo;
      <a href="{{ site.baseurl }}/{{ page.date | date('Y/m') }}">{{ page.date | date('F') }}</a>
      &raquo;
      <span>{{ page.date | date('d') }}</span>
      &raquo;
    </time>
    <h1 class="title">{{ page.title | safe }}</h1>
    {% if page.tags %}
      <ul class="tags">
          {% for tag in page.tags %}
              <li><a href="{{ site.baseurl }}/tag/{{tag}}">{{ tag }}</a>{% if loop.last == false %}, {% endif %}</li>
          {% endfor %}
      </ul>
    {% endif %}
    {{ content|safe }}
</article>

{% if page.comments_archived or page.draft %}
{% else %}
<section class="comments" id="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'bloglmorchardcom';
        var disqus_url = '{{ site.absolute_baseurl }}{{ page.url }}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</section>
{% endif %}
{% endblock %}
