:root {
  --theme-font-size: 17px;
  --theme-font-family: "Bitter", serif;
  --theme-font-family-headings: "Bitter", serif;
  --theme-line-height: calc(var(--theme-font-size) * 1.65);
  --column-gap: 1.75em;
  --row-gap: 1.75em;

  --theme-background-color: rgba(242, 240, 235, 1);
  --theme-background-color-transparent: rgba(242, 240, 235, 0.7);
  --theme-highlighted-bg-color: #dfdfdf;
  --theme-dialog-bg-color: rgba(192, 192, 192, 0.8);
  --theme-text-color: #111;
  --theme-border-color: #555;
  --theme-link-color: rgba(0, 0, 255, 0.8);
}
