:root {
  --theme-font-size: 17px;
  --theme-font-family: "Bitter", serif;
  --theme-font-family-headings: "Bitter", serif;
  --theme-line-height: calc(var(--theme-font-size) * 1.65);
  --column-gap: 1.75em;
  --row-gap: 1.75em;

  --theme-background-color: rgba(242, 240, 235, 1);
  --theme-background-color-transparent: rgba(242, 240, 235, 0.7);
  --theme-highlighted-bg-color: #dfdfdf;
  --theme-dialog-bg-color: rgba(192, 192, 192, 0.8);
  --theme-text-color: #111;
  --theme-border-color: #555;
  --theme-link-color: rgba(0, 0, 255, 0.8);

  --layout-padding: 1.25em;
  --layout-max-width: calc(100vw - (var(--layout-padding) * 2));
  --layout-width-lg: 1300px;
  --layout-width-xl: 1500px;

  --layout-grid-columns:
    [full-start wide-start] 2fr
    [medium-start] 1fr
    [main-start main-left-start] 3fr
    [main-left-end main-right-start] 3fr
    [main-right-end main-end] 1fr
    [medium-end] 2fr
    [wide-end full-end];
  --layout-grid-columns-xl:
    [full-start] 1fr
    [wide-start] 1fr
    [medium-start] 1fr
    [main-start main-left-start] 3fr
    [main-left-end main-right-start] 3fr
    [main-right-end main-end] 1fr
    [medium-end] 1fr
    [wide-end] 1fr
    [full-end];
}
