ul.post-list {
  display: contents;
  list-style: none;
}

ul.post-list .date-header {
  grid-column-start: wide-start;
  grid-column-end: main-start;
  text-align: right;

  position: sticky;
  top: 100px;  
  z-index: 10;
}

ul.post-list .post {
  display: contents;
}

ul.post-list .post .thumb {
  grid-column-start: wide-start;
  grid-column-end: main-start;
  text-align: right;
}

ul.post-list .post .title,
ul.post-list .post .summary,
ul.post-list .post .content,
ul.post-list .post .meta { 
  grid-column: main; 
}

