.post-list {
}

.post-list .index-header {
  text-align: center;
}

.post-list ul.posts {
  display: contents;
  list-style: none;
}

.post-list ul.posts .date-header {
  margin: 2em 0 1.5em 0;
  z-index: 100;
  border-top: 1px solid color-mix(in srgb, var(--theme-border-color) 40%, transparent);
  border-bottom: 1px solid color-mix(in srgb, var(--theme-border-color) 40%, transparent);
}

.post-list ul.posts .date-header h2 {
  margin: 0;
  font-size: 1.3em;
  font-weight: 600;
  color: color-mix(in srgb, var(--theme-text-color) 70%, transparent);
}

.post-list ul.posts .date-header .date {
  grid-column: main;
  text-align: center;
  padding: 0.5em 0 0.5em 0;
  z-index: 100;
}


.post-list ul.posts .post .thumb img {
  width: 128px;
}

.post-list ul.posts .post .title,
.post-list ul.posts .post .summary,
.post-list ul.posts .post .content,
.post-list ul.posts .post .meta {
  grid-column: main;
}


.post-list ul.posts .post .content p {
  margin: 1.4em 0em;
}

.post-list ul.posts .post .title {
  margin: 0 0 0.5em 0;
  text-align: center;
}

.post-list ul.posts .post .title h2 {
  font-size: 1.6em;
  font-weight: 700;
}

.post-list ul.posts .post .meta {
  margin-bottom: 4em;
  padding-bottom: 1em;
  border-bottom: 1px solid color-mix(in srgb, var(--theme-border-color) 25%, transparent);
  text-align: center;
  font-size: 0.8em;
  color: color-mix(in srgb, var(--theme-text-color) 65%, transparent);
}

.post-list ul.posts .post:has(+ .date-header) .meta {
  border-bottom: none;
  margin-bottom: 0;
}

.post-list ul.posts .post .meta ul.tags {
  display: inline;
  padding: 0;
  margin: 0;
}

.post-list ul.posts .post .meta ul.tags:before {
  margin: 0 0.25em;
  content: "  "
}

.post-list ul.posts .post .meta ul.tags li.tag {
  display: inline;
  margin: 0 0.75em 0 0;
  white-space: no-wrap;
}

.post-list ul.posts .post .meta ul.tags li.tag:before {
  content: "ï€¬";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  font-size-adjust: none;
  font-stretch: normal;
  font-size: inherit;
  text-rendering: auto;
  margin-left: 0.125em;
}

.post-list ul.posts .post .meta ul.tags li.tag:last-child:after {
  content: "";
}

.post-list ul.posts .post .thumb {
  overflow: hidden;
  margin-top: 0;
  height: 128px;
  text-align: center;
}

@media (min-width: 1200px) {
  .post-list ul.posts .post .meta {
    text-align: left;
  }
  .post-list ul.posts .post .title {
    text-align: left;
  }
  .post-list ul.posts .post .thumb {
    grid-column-start: wide-start;
    grid-column-end: main-start;
    grid-row: span 2;
    text-align: right;
  }
}

.post-list ul.posts .post {
  max-width: calc(100vw - (1.25em * 2));
}

@media (min-width: 600px) {
  .post-list ul.posts .post {
    max-width: inherit;
  }
}
