<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="microtip" content="1Ad1VPQBBk7WhyJPfB6cAgZoBs3gUngurN" data-currency="btc">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" type="text/css" media="screen, projection" />

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% if page.title %}{{ page.title | safe }} - {% endif %}{{ site.title }}</title>
    <meta name="author" content="{{ site.author.fullname }}" />

    {% if page.tag %}
    <link href="{{ site.baseurl }}/tag/{{page.tag}}.rss"
        rel="alternate" title="Tag: {{ page.tag }} - {{ site.title }}"
        type="application/rss+xml" />
    {% else %}
      <link href="{{ site.baseurl }}/index.rss" rel="alternate"
        title="{{ site.title }}" type="application/rss+xml" />
    {% endif %}

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="{{ site.title }}"/>

    {% block head %}{% endblock %}

  </head>
  <body>

    <section class="main">

      <header>
        <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        <h2>{{ site.subtitle }}</h2>
        <nav>

          <label for="nav-trigger"></label>
          <input type="checkbox" id="nav-trigger" class="nav-trigger" />

          <ul>
            <li><a href="http://lmorchard.com/">about me</a></li>
            <li><a href="{{ site.baseurl }}/archives.html">archives</a></li>
          </ul>

        </nav>
      </header>

      <section class="content">{% block content %}{% endblock %}</section>

      <footer>
        <img id="growup" src="{{ site.baseurl }}/uploads/growup.jpg">
      </footer>

    </section>

    <section id="javascript">
      <script src="{{ site.baseurl }}/js/main.js"></script>
      {% block js %}{% endblock %}
    </section>

  </body>
</html>
