{% extends 'layouts/default.html' %}
{% block content %}
  <article id="index">
    <ul class="posts">
      {% for post in allPostsMeta | limit(25) %}
        <li>
          <span class="date">{{ post.date | date('Y M d') }}</span> &raquo;
          <a href="{{ site.baseurl }}{{ post.path }}">{{ post.title | safe | default('untitled') }}</a>
          {% if post.summary and loop.index <= 3 %}
            <div class="summary">
              {{ post.summary | safe }}
              {% if post.title %}
                (<a href="{{ site.baseurl }}{{ post.path }}">Read more...</a>)
              {% endif %}
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <a href="{{ site.baseurl }}/archives.html">Full archive</a>
  </article>
{% endblock %}
