{% extends 'layouts/default.html' %}
{% block content %}
  <section class="post-list">
    <ul class="posts">
    {% for post in posts | limit(30) %}
    <li class="post nothumb {% for tag in post.tags %}tag-{{ tag }} {% endfor %}">
        <time class="date" datetime="{{ post.date | date('c') }}">
          {{ post.date | date('Y') }} {{ post.date | date('F') }} {{ post.date | date('d') }}
        </time>
        <i class="icon fa fa-file-text"></i>
        <a class="link" href="{{ site.baseurl }}/{{ post.path.replace('index.html', '') }}">
          <span class="infoContainer">
            <span class="title">{{ post.title | safe | default('untitled') }}</span>
          </span>
        </a>
        <img class="thumb" src="" />
      </li>
    {% endfor %}
    </ul>
  </section>
{% endblock %}
