{% extends 'layouts/default.html' %}
{% block content %}
  <article id="index">
      {% for post in posts | limit(5) %}
        <section class="post">
          <time title="{{ post.date | date('c') }}" pubdate="{{ post.date | date('c') }}">
            <a href="{{ site.baseurl }}/{{ post.date | date('Y') }}">{{ post.date | date('Y') }}</a>
            &raquo;
            <a href="{{ site.baseurl }}/{{ post.date | date('Y/m') }}">{{ post.date | date('F') }}</a>
            &raquo;
            <span>{{ post.date | date('d') }}</span>
            &raquo;
          </time>
          <h1 class="title"><a href="{{ site.baseurl }}{{ post.path.replace('index.html', '') }}">{{ post.title | safe | default('untitled') }}</a></h1>
          {% if post.tags %}
            <ul class="tags">
                {% for tag in post.tags %}
                    <li><a href="{{ site.baseurl }}/tag/{{tag}}">{{ tag }}</a>{% if loop.last == false %}, {% endif %}</li>
                {% endfor %}
            </ul>
          {% endif %}
          {% if post.summary %}
            <div class="summary">
              {{ post.summary | safe }}
              {% if post.title %}
                (<a href="{{ site.baseurl }}{{ post.path }}">Read more...</a>)
              {% endif %}
            </div>
          {% endif %}
        </section>
      {% endfor %}
    <a href="{{ site.baseurl }}/archives.html">Full archive</a>
  </article>
{% endblock %}
