.content-grid > image-gallery {
  grid-column-start: medium-start;
  grid-column-end: medium-end;
}

image-gallery {
  margin: 0.7em 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.7em;
  justify-content: center;
  align-items: center;
  align-content: center;
}

image-gallery > img {
  height: 15vh;
  width: auto;
  cursor: pointer;
}

image-gallery.connected {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 60vh;
  align-content: normal;
}

image-gallery.connected > img {
  height: auto;
  width: auto;
}

image-gallery .gallery-container {
  width: 100%;
  height: 60vh;
}
