article>header {
  /*
  position: sticky;
  top: 64px;
  */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
  margin: 0 0 1em 0;
  padding: 1.5em 0 1.5em 0;
  background-color: var(--theme-background-color-transparent);
  border-top: 2px solid var(--theme-border-color);
  border-bottom: 2px solid var(--theme-border-color);
}

article>header>h1 {
  margin: 0;
  font-size: 1.9em;
  line-height: 1.25em;
  margin: calc(var(--row-gap) / 8);
  text-align: center;
}

article>header>time {
  display: block;
}

article>header>ul.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0em;
  column-gap: 1em;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  justify-content: center;
}

article>header>ul.tags li::before {
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  font-size-adjust: none;
  font-stretch: normal;
  font-size: inherit;
  text-rendering: auto;
  margin-right: 0.25em;
}

article>header>ul.tags li {

}

article>nav.table-of-contents {
  z-index: -10;
  margin-top: 1.25em;
  padding: 0;
  font-size: 0.8em;
}

article>nav.table-of-contents h1 {
  font-size: 1.5em;
  margin: 0 0 1em 0;
}

article>nav.table-of-contents p {
  margin: 0;
  font-weight: bold;
}

article>nav.table-of-contents ul, article>nav.table-of-contents ol {
}

article>nav.table-of-contents li {
  margin: 0 0 0.25em 0;
}

article figure {
  background-color: var(--theme-background-color-transparent);
}

@media (min-width: 900px) {
  article>nav.table-of-contents {
    position: sticky;
    grid-column: wide-start;
    top: 0px;
    background-color: var(--theme-background-color-transparent);
    text-align: right;
  }
  article>nav.table-of-contents ul, article>nav.table-of-contents ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}
@media (min-width: 900px) and (min-height: 850px) {
  article>nav.table-of-contents {
    top: calc(64px + var(--row-gap));
  }
}
