article>header {
  /*
  position: sticky;
  top: 1em;
  */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
  margin: 1em 0;
  padding-bottom: 1.5em;
  border-bottom: 1px solid var(--theme-border-color);
}

article>header>h1 {
  margin: 0;
}

article>header>ul.tags {
  display: flex;
  flex-direction: row;
  gap: 1em;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}

article>header>ul.tags li::before {
  content: "";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  font-size-adjust: none;
  font-stretch: normal;
  font-size: inherit;
  text-rendering: auto;
  -moz-osx-font-smoothing: grayscale;
}

article>header>ul.tags li {

}