.content-grid {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.content-grid>* {
  grid-column: main;
}

.content-grid>header {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-start: wide-start;
  grid-column-end: wide-end;
}

.content-grid>.wide, .content-grid>.fullwidth {
  grid-column-start: wide-start;
  grid-column-end: wide-end;
}

.content-grid>.wide-right {
  grid-column-start: main-start;
  grid-column-end: wide-end;
}

.content-grid>aside, .content-grid>.right {
  grid-column: main-end;
  font-size: 0.85em;
  line-height: calc(var(--theme-line-height) * 0.85);
  align-self: start;
}

.content-grid>.preside, .content-grid>.left {
  grid-column: wide-start;
  align-self: start;
}

.content-grid > .main-head {
  position: sticky;
  grid-column: main;
  top: 10px;
}

@media (min-width: 600px) {
  .content-grid {
  }
}

@media (min-width: 900px) {
  .content-grid {
    display: grid;
    column-gap: var(--column-gap);
    grid-template-columns: [full-start wide-start] 3fr [main-start main-left-start] 3fr [main-left-end main-right-start] 3fr [main-right-end main-end] 3fr [wide-end full-end];
  }
}


@media (min-width: 1400px) {
  .content-grid {
    max-width: 1400px;
  }
}

@media (min-width: 1800px) {
  .content-grid {
  }
}
