body {
  display: flex;
  flex-direction: row;
  justify-content: center;

  font-family: var(--theme-font-family);
  font-size: var(--theme-font-size);
  line-height: var(--theme-line-height);

  background-color: var(--theme-background-color);
  color: var(--theme-text-color);
}

a {
  color: var(--theme-link-color);
}

/* HACK: force all images to fill their container, rely on flex and suchlike to scale images */
img { width: 100% }

p { margin: 0.75em 0; }
