body>header {
  margin: 0 0 1em 0;
  background-color: var(--theme-background-color-transparent);
}

@media (min-width: 900px) and (min-height: 850px) {
  body>header {
    position: sticky;
    top: 0;
  }
}

body>header>div.masthead {
  grid-column-start: wide-start;
  grid-column-end: main-start;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

body>header>div.masthead>div.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  white-space: no-wrap;
  width: 100%;
}

body>header>div.masthead h1,
body>header>div.masthead h2 {
  margin: 0;
  white-space: nowrap;
  text-align: right;
}

body>header>div.masthead h1 {
  font-size: 1.45em;
  font-weight: 900;
}

body>header>div.masthead h2 {
  font-size: 0.75em;
  opacity: 0.5;
}

body>header>div.masthead img {
  width: 64px;
  height: 64px;
  float: left;
  margin: 0 1em 0 0;
}

body>header>nav.main-nav {
  grid-column-start: main-end;
  grid-column-end: wide-end;
  align-self: center;
  justify-self: center;
  margin-top: 0.5em;
  margin-right: 1em;
  margin-bottom: 0.25em;
}

@media (min-width: 900px) {
  body>header>div.masthead {
    align-self: end;
    justify-self: start;
  }

  body>header>nav.main-nav {
    align-self: end;
    justify-self: end;
  }
}

@media (max-width: 900px) {
  body>header>div.masthead h2 {
    margin: 0;
    font-size: 0.65em;
    opacity: 0.5;
  }
}

body>header>nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  column-gap: 1em;
  align-items: center;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}